<div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name" class="block text-sm font-medium">Name</label>
      <input
        id="name"
        pInputText
        formControlName="name"
        class="w-full p-2 border rounded mt-1"
        [ngClass]="{ 'p-invalid': name!.invalid && name!.touched }"
      />
      <div class="c-error-info">
        <div *ngIf="name!.invalid && name!.touched" class="p-error">
          <small *ngIf="name!.errors?.['required']">Name is required</small>
        </div>
      </div>
    </div>

    <div>
      <label for="surname" class="block text-sm font-medium">Surname</label>
      <input
        id="surname"
        pInputText
        formControlName="surname"
        class="w-full p-2 border rounded mt-1"
        [ngClass]="{ 'p-invalid': surname!.invalid && surname!.touched }"
      />
      <div class="c-error-info">
        <div *ngIf="surname!.invalid && surname!.touched" class="p-error">
          <small *ngIf="surname!.errors?.['required']"
            >Surname is required</small
          >
        </div>
      </div>
    </div>

    <div>
      <label for="email" class="block text-sm font-medium">Email</label>
      <input
        id="email"
        pInputText
        formControlName="email"
        class="w-full p-2 border rounded mt-1"
        [ngClass]="{ 'p-invalid': email!.invalid && email!.touched }"
      />
      <div class="c-error-info">
        <div *ngIf="email!.invalid && email!.touched" class="p-error">
          <small *ngIf="email!.errors?.['required']">Email is required</small>
          <small *ngIf="email!.errors?.['email']">Enter a valid email</small>
          <small *ngIf="email!.errors?.['emailExists']"
            >This email is already in use</small
          >
        </div>
      </div>
    </div>

    <div>
      <label for="password" class="block text-sm font-medium">Password</label>
      <input
        id="password"
        type="password"
        pInputText
        formControlName="password"
        class="w-full p-2 border rounded mt-1"
        [ngClass]="{ 'p-invalid': password!.invalid && password!.touched }"
      />
      <div class="c-error-info">
        <div *ngIf="password!.invalid && password!.touched" class="p-error">
          <small *ngIf="password!.errors?.['required']"
            >Password is required</small
          >
          <small *ngIf="password!.errors?.['minlength']"
            >Password must be at least 5 characters</small
          >
          <small *ngIf="password!.errors?.['pattern']"
            >Password must include an uppercase letter, a special character, and
            a number</small
          >
        </div>
      </div>
    </div>

    <div>
      <label for="accountAmount" class="block text-sm font-medium"
        >Account Amount</label
      >
      <input
        id="accountAmount"
        type="text"
        pInputText
        formControlName="accountAmount"
        class="w-full p-2 border rounded mt-1"
        [ngClass]="{
          'p-invalid': accountAmount!.invalid && accountAmount!.touched,
        }"
      />
      <div class="c-error-info">
        <div
          *ngIf="accountAmount!.invalid && accountAmount!.touched"
          class="p-error"
        >
          <small *ngIf="accountAmount!.errors?.['required']"
            >Account amount is required</small
          >
          <small *ngIf="accountAmount!.errors?.['pattern']"
            >Account amount must be a number</small
          >
        </div>
      </div>
    </div>

    <div class="flex gap-2 mt-4">
      <button
        type="submit"
        pButton
        [disabled]="registrationForm.invalid || isSubmitting"
        class="w-1/2 mt-2"
      >
        <p-progress-spinner
          *ngIf="isSubmitting"
          strokeWidth="4"
          fill="transparent"
          [style]="{ width: '25px', height: '25px' }"
          class="c-spinner"
        ></p-progress-spinner>

        <span *ngIf="!isSubmitting" class="p-button-label">Sign Up</span>
      </button>
      <button
        type="button"
        pButton
        label="Cancel"
        class="w-1/2 mt-2 p-button-secondary"
        (click)="onCancel()"
      ></button>
    </div>
    <div class="c-error-info">
      <div *ngIf="errors" class="p-error">
        <small>{{ errors }}</small>
      </div>
    </div>
  </form>
</div>
