app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main.logged-in {
  margin-top: 58px;
  height: calc(100vh - 58px);
  padding: 20px;
}
